<link href="css/footer.css" rel="stylesheet" type="text/css">

<footer>
  <div class="container-fluid">
            
    <div class="row">
      <div class="col-md-4">
        <i class="bi bi-geo-alt"></i>
        Ubicación: Buenos Aires, Argentina
      </div>
               
      <div class="col-md-4">
        <i class="bi bi-telephone"></i>
        Teléfono móvil: <span class="telefono"></span>
      </div>

      <div class="col-md-4">
        <i class="bi bi-envelope"></i>
        Email: <span class="email"></span>
      </div>
    </div>
            
    <div class="row">
      <div class="col-md-12">
        <i class="fab fa-github"></i>  
        <a href="https://github.com/Franco2900" target="_blank">
          GitHub: Franco2900
        </a>
      </div>
    </div>

  </div>
</footer>
