<!-- FOOTER -->
<footer>
    <div class="container-fluid">
            
      <div class="row" style="background-color: #389696;">

        <div class="col-md-4">
          <i class="bi bi-geo-alt"></i>
          Ubicación: Buenos Aires, Argentina
        </div>
               
        <div class="col-md-4">
          <i class="bi bi-telephone"></i>
          Teléfono móvil: (+54) 11-6499-9382
        </div>

        <div class="col-md-4">
          <i class="bi bi-envelope"></i>
          Email: franco2900@gmail.com
        </div>

      </div>
            
      <div class="row" style="background-color: #333;">
        <div class="col-md-12">
          <i class="fab fa-github"></i>  
          GitHub: https://github.com/Franco2900/
        </div>
      </div>

    </div>
</footer>