<!-- Navbar para proyectos -->
<nav class="navbar navbar-expand-lg" style="background-color: black;">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="/">
          <i class="bi bi-house-fill"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#resumen">
          <i class="fas fa-info-circle"></i> Resumen
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#tecnologias">
          <i class="bi bi-laptop"></i> Tecnologías
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#descripcion">
          <i class="fas fa-align-left"></i> Descripción
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#imagenes">
          <i class="fas fa-images"></i> Imágenes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#video">
          <i class="fas fa-video"></i> Video
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#aprendizaje">
          <i class="fas fa-graduation-cap"></i> Lo que aprendí
        </a>
      </li>
    </ul>
  </div>
</nav>
