<div class="container my-5">
  <div class="row">

    <!-- Información de contacto -->
    <div class="col-lg-6 mb-4">

      <h3 class="mb-4 text-primary">Mis datos de contacto</h3>

      <!-- Lista de medios de contacto -->
      <ul class="list-unstyled">

        <!-- Email -->
        <li class="mb-3">
          <i class="fas fa-envelope fa-fw"></i>
          <strong>Email:</strong><br>
          &emsp;&emsp; • franco2900@gmail.com
        </li>

        <!-- Telefono fijo -->
        <li class="mb-3">
          <i class="fas fa-phone fa-fw"></i>
          <strong>Teléfono:</strong> <br>
          &emsp;&emsp; • Internacional: (+54) 11-6499-9382 <br>
          &emsp;&emsp; • Nacional: (011) 11-6499-9382
        </li>

      </ul>

    </div>

  </div>
</div>
