<link rel="stylesheet" type="text/css" href="/css/proyectos.css">

<h2>Resumen</h2>

<p>
  Sitio web en el que se puede jugar distintos juegos de casino y apostar
</p>

<p>
  <strong>Repositorio GitHub <i class="fab fa-github"></i>: </strong>
  <a href="https://github.com/Franco2900/Practica-2---Casino" target="_blank">Práctica 2</a>
</p>

<h2>Tecnologías usadas <i class="bi bi-laptop"></i> </h2>

<div class="row">

  <div class="col-4">
    BackEnd: <br>
    NodeJS <i class="fab fa-node-js"></i> con el framework Express 
  </div>

  <div class="col-4">
    Base de datos: <br>
    MongoDB <img src="/simple-icons/mongodb.svg" alt="MongoDB icon" width="20" height="20">
  </div>
  
  <div class="col-4">
    FrontEnd: <br>
    Bootstrap <i class="fab fa-bootstrap"></i> y EJS
  </div>
  
</div>
<br>

<h2>Descripción completa del proyecto</h2>

<p>
  Un sitio web en donde los usuarios pueden gastar sus fichas para jugar distintos juegos de casino. Originalmente
  iba a tener varios juegos más pero con solo 2 juegos sirve para mostrar el funcionamiento correcto del proyecto. 
  Se puede jugar a la maquina tragamonedas y al Blackjack.
  <br />

  &emsp;&emsp;Los juegos son otras de las practicas en mi universidad. En los primeros años se nos pide hacer 
  distintos juegos en Python para mezclar un lenguaje de programación que nunca vimos hasta ese momento con
  algo divertido. Los juegos que hice con mi grupo eran de casino por los que decidi volver a hacerlos pero en
  JavaScript y como si se pareciera más a un casino de verdad agregando un sistema de fichas con el cual el
  jugador puede elegir cuantas fichas apostar.
  <br />

  &emsp;&emsp;En esta ocasión aproveche para estudiar como organizar mejor la estructura de los proyectos porque
  en el trabajo anterior el manejo de las rutas, la lógica del servidor y el CRUD de la base de datos se
  controló todo en el mismo archivo. En un proyecto chico puede no causar ningún problema, pero en proyectos más
  grandes complejiza en gran medida el desarrollo y mantenimiento.
  <br />

  &emsp;&emsp;También aproveche para hacer un repaso de MongoDB, ya que solamente se dicta una materia de dicha 
  base de datos.
  <br />

</p>

<h4>Home</h4>
<img
  src="/images/proyectos/casino 1.png"
  alt="Foto 1 casino"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h4>Juegos</h4>
<img
  src="/images/proyectos/casino 2.png"
  alt="Foto 2 casino"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h4>Promociones</h4>
<img
  src="/images/proyectos/casino 3.png"
  alt="Foto 3 casino"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h4>Contacto</h4>
<img
  src="/images/proyectos/casino 4.png"
  alt="Foto 4 casino"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h4>Tragamonedas</h4>
<img
  src="/images/proyectos/casino 5.png"
  alt="Foto 5 casino"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h4>Blackjack</h4>
<img
  src="/images/proyectos/casino 6.png"
  alt="Foto 6 casino"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h4>Blackjack 2° imagen</h4>
<img
  src="/images/proyectos/casino 7.png"
  alt="Foto 7 casino"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h4>Blackjack 3° imagen</h4>
<img
  src="/images/proyectos/casino 8.png"
  alt="Foto 8 casino"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h2>Video de muestra</h2>
<iframe
  src="https://www.youtube.com/embed/k_JF4i7jkUk"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  style="display: block; margin: 0 auto; width: 100%; height: 500px;"
></iframe>
<br>

<h2>Lo que aprendí</h2>
<p> 
  • Patrón MVC (modelo, vista, controlador) — Arquitectura que separa la lógica de datos, la interfaz y el control de flujo en una aplicación. <br /> 
  • MongoDB — Base de datos NoSQL orientada a documentos, ideal para manejar grandes volúmenes de datos flexibles. <br /> 
  • Nuevos módulos de diseño gráfico: Bootstrap Icons — Conjunto de íconos oficiales de Bootstrap para enriquecer el diseño de aplicaciones web. <br /> 
</p>