<link rel="stylesheet" type="text/css" href="css/proyectos.css">

<h2 id="resumen">Resumen <i class="fas fa-info-circle"></i> </h2>

<p>
  Sistema web para supermercado online que integra la experiencia del cliente —con compras, historial, 
  favoritos, filtros y comprobantes en PDF— junto con un panel de administración que permite gestionar 
  productos, ofertas, roles de usuarios y reportes de ventas, ofreciendo una solución completa desde 
  la compra hasta la gestión interna.
</p>

<p>
  <strong>Repositorio GitHub <i class="fab fa-github"></i>: </strong>
  <a href="https://github.com/Franco2900/Practica-5---Supermercado" target="_blank">Práctica 5</a>
</p>

<h2 id="tecnologias">Tecnologías usadas <i class="bi bi-laptop"></i> </h2>

<div class="row">

  <div class="col-4">
    BackEnd: <br>
    NodeJS <i class="fab fa-node-js"></i> con el framework Express 
  </div>

  <div class="col-4">
    Base de datos: <br>
    SQL <i class="fas fa-database"></i>
  </div>
  
  <div class="col-4">
    FrontEnd: <br>
    Bootstrap <i class="fab fa-bootstrap"></i> y React <i class="fab fa-react"></i>
  </div>
  
</div>
<br>

<h2 id="descripcion">Descripción completa del proyecto <i class="fas fa-align-left"></i> </h2>

<p>

Sitio web para un supermercado online en el que los clientes pueden comprar productos y ofertas, ver versiones detalladas de los mismos y marcarlos como favoritos. Los productos marcados como favoritos aparecen siempre primero en la lista de productos a comprar para que el cliente los pueda comprar más rápido. Los productos y ofertas seleccionados son añadidos a un carrito donde el cliente puede quitar lo que no quiera o añadió por error y/o modificar la cantidad a comprar. 
<br /><br />
Lo comprado puede ser visto en el historial de compras el cuál tiene una herramienta para poder filtrar las compras por fecha (por defecto el historial de compras muestras las compras más nuevas a las más viejas). El historial también permite para cada compra hecha descargar un archivo pdf como comprobante el cuál indica que se compro, cuanto se compro, el costo y la fecha de compra.
<br /><br />
Para cada acción que realiza el cliente se le envía notificaciones para que sepa que se confirmo/concluyo sus solicitudes. 
<br /><br />
Los administradores por su parte pueden hacer todas estas acciones, además de hacer el alta, baja y modificaciones de los productos y ofertas, cambiar el rol de los usuarios de cliente a admin o viceversa, y y acceder a reportes como ganancias de los productos más vendidos, ganancias por mes, cantidad de ventas, etc. Esto permite gestionar el supermercado de forma completa desde la misma plataforma.
<br /><br />
En resumen, el proyecto integra tanto la parte de usuario como la de administrador, mostrando una aplicación web completa que cubre todo el flujo de un supermercado online: desde la compra hasta la gestión interna.
<br /><br />

<strong>ACLARACIÓN: LOS DATOS DE LOS CLIENTES SON DE PRUEBA, NO SON REALES.</strong>

</p>


<h2>Diagrama Entidad Relación (DER) de la Base de datos</h2>

<h4>DER - phpmyadmin</h4>
<img
  src="images/diagramas/DER supermercado - phpmyadmin.png"
  alt="DER 1"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h4>DER - draw.io</h4>
<img
  src="images/diagramas/DER supermercado - drawio.jpg"
  alt="DER 2"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>

<h2 id="imagenes">Imagenes del proyecto <i class="fas fa-images"></i> </h2>

<h4>Home</h4>
<img
  src="images/proyectos/supermercado 1.png"
  alt="Foto 1 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Ofertas</h4>
<img
  src="images/proyectos/supermercado 2.png"
  alt="Foto 2 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Ofertas (logueado)</h4>
<img
  src="images/proyectos/supermercado 3.png"
  alt="Foto 3 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Productos</h4>
<img
  src="images/proyectos/supermercado 4.png"
  alt="Foto 4 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Productos (logueado)</h4>
<img
  src="images/proyectos/supermercado 5.png"
  alt="Foto 5 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Contacto</h4>
<img
  src="images/proyectos/supermercado 6.png"
  alt="Foto 6 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Oferta detalle</h4>
<img
  src="images/proyectos/supermercado 7.png"
  alt="Foto 7 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Oferta detalle (logueado)</h4>
<img
  src="images/proyectos/supermercado 8.png"
  alt="Foto 8 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>



<h4>Producto detalle</h4>
<img
  src="images/proyectos/supermercado 9.png"
  alt="Foto 9 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Producto detalle (logueado)</h4>
<img
  src="images/proyectos/supermercado 10.png"
  alt="Foto 10 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Barra de busqueda</h4>
<img
  src="images/proyectos/supermercado 11.png"
  alt="Foto 11 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Carrito</h4>
<img
  src="images/proyectos/supermercado 12.png"
  alt="Foto 12 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Menu despegable (admin)</h4>
<img
  src="images/proyectos/supermercado 13.png"
  alt="Foto 13 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer; max-width:400px; width:100%; height:auto;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Perfil</h4>
<img
  src="images/proyectos/supermercado 14.png"
  alt="Foto 14 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Perfil (modal de edición)</h4>
<img
  src="images/proyectos/supermercado 15.png"
  alt="Foto 15 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Historial de compras</h4>
<img
  src="images/proyectos/supermercado 16.png"
  alt="Foto 16 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Archivo PDF de un recibo de compra</h4>
<img
  src="images/proyectos/supermercado 31.png"
  alt="Foto 31 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Productos Favoritos</h4>
<img
  src="images/proyectos/supermercado 17.png"
  alt="Foto 17 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Gestión de productos</h4>
<img
  src="images/proyectos/supermercado 18.png"
  alt="Foto 18 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Gestión de productos (modal de alta)</h4>
<img
  src="images/proyectos/supermercado 19.png"
  alt="Foto 19 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Gestión de productos (modal de edición)</h4>
<img
  src="images/proyectos/supermercado 20.png"
  alt="Foto 20 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Gestión de ofertas</h4>
<img
  src="images/proyectos/supermercado 21.png"
  alt="Foto 21 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Gestión de ofertas (modal de alta)</h4>
<img
  src="images/proyectos/supermercado 22.png"
  alt="Foto 22 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Gestión de ofertas (modal de edición)</h4>
<img
  src="images/proyectos/supermercado 23.png"
  alt="Foto 23 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Gestión de usuarios</h4>
<img
  src="images/proyectos/supermercado 24.png"
  alt="Foto 24 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Gestión de usuarios (consulta de usuario)</h4>
<img
  src="images/proyectos/supermercado 25.png"
  alt="Foto 25 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Reportes</h4>
<img
  src="images/proyectos/supermercado 26.png"
  alt="Foto 26 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Registro de usuario</h4>
<img
  src="images/proyectos/supermercado 27.png"
  alt="Foto 27 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Login</h4>
<img
  src="images/proyectos/supermercado 28.png"
  alt="Foto 28 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Solicitud para recuperar contraseña</h4>
<img
  src="images/proyectos/supermercado 29.png"
  alt="Foto 29 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h4>Cambio de contraseña</h4>
<img
  src="images/proyectos/supermercado 30.png"
  alt="Foto 30 supermercado"
  class="img-uniform border border-dark border-1"
  style="cursor: pointer;"
  onclick="mostrarImagenEnNuevaVentana(this)"
/>
<br>


<h2 id="video">Videos de muestra <i class="fas fa-video"></i> </h2>

<h3>Parte 1</h3>
<iframe
  src="https://www.youtube.com/embed/36g96kqzqMo"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  style="display: block; margin: 0 auto; width: 100%; height: 500px;"
></iframe>
<br>

<h3>Parte 2</h3>
<iframe
  src="https://www.youtube.com/embed/e0Vst_XXWBY"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  style="display: block; margin: 0 auto; width: 100%; height: 500px;"
></iframe>
<br></br>

<h2 id="aprendizaje">Lo que aprendí <i class="fas fa-graduation-cap"></i> </h2>
<p>
• React — Aprendí a construir la aplicación usando vistas y componentes reutilizables, lo que hace que el sitio sea más ordenado y fácil de mantener. <br />
• Contexto y estado — Incorporé variables de contexto y de estado para manejar información global como el usuario y el carrito, logrando que los cambios se reflejen en toda la aplicación sin necesidad de recargar. <br />
• useEffect — Utilicé este hook para ejecutar acciones automáticas, como traer datos del backend o mantener la sesión del usuario activa si ya estaba logueado. <br />
• Rutas protegidas — Implementé rutas que solo pueden ver los usuarios logueados y otras exclusivas para administradores, garantizando seguridad y control de acceso. <br />
• Notificaciones — Integré toasts para dar feedback inmediato al usuario sobre sus acciones (ejemplo: modificar cantidades o confirmar compras). <br />
• Integración completa — Conecté el frontend en React con el backend en Node.js y la base de datos en MySQL, logrando un sistema completo que cubre tanto la experiencia del cliente como la gestión del administrador. <br />
• Diagramas de base de datos — Aprendí a diseñar diagramas completos de la base de datos utilizando draw.io, lo que me permitió visualizar y organizar mejor las relaciones entre tablas y entidades. <br />
• Seeds de base de datos — Incorporé la práctica de crear seeds para vaciar la base de datos o rellenarla con datos de prueba, facilitando el desarrollo, las pruebas y la validación del sistema. <br />
</p>